@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.card-list {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-text {
  padding: 15px;
}

.card-text h2 {
  margin-top: 0;
  bottom:0%;
}

